<p> Reservation </p>

<%= form_for [@restaurant, @reservation] do |f| %>

<div class="field">
	<%= f.label :dinner_time %><br />
	<%= f.text_field :dinner_time, 'data-behaviour' => 'datepicker' %>
	<script type="text/javascript">
  		$('[data-behaviour~=datepicker]').datepicker();
	</script>
</div>

<div class = "field">
<%= f.label :reso_time %><br />
	<%= f.collection_select :reso_time, Reservation::RESO_TIMES, :to_s, :to_s,
	:include_blank => true %>

</div>

<div class="field">
	<%= f.label :party_size %><br />
	<%= f.number_field :party_size, {max: 20, min: 2} %>
</div>

<div class="actions">
      <%= f.submit %>
</div>

<% end %> 