<p> Reservation </p>

<%= form_for @reservation, url: restaurant_reservation_path(:restaurant_id, :id) do |f| %>

<div class="field">
	<%= f.label :dinner_time %><br />
	<%= f.text_field :dinner_time, 'data-behaviour' => 'datepicker' %>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>

</div>

<div class="field">
	<%= f.label :party_size %><br />
	<%= f.number_field :party_size %>
</div>

<div class="actions">
      <%= f.submit %>
</div>

<% end %> 