<p> Reservation </p>

<%= form_for [@restaurant, @reservation] do |f| %>

<div class="field">
	<%= f.label :dinner_time %><br />
	<%= f.datetime_select :dinner_time %>
</div>

<div class="field">
	<%= f.label :party_size %><br />
	<%= f.number_field :party_size, {max: 20, min: 2} %>
</div>

<div class="actions">
      <%= f.submit %>
</div>

<% end %> 