<p> Reservation </p>

<%= form_for@reservation, url: new_restaurant_reservation_path do |f| %>

<div class="field">
	<%= f.label :dinner_time %><br />
	<%= f.number_field :dinner_time %>
</div>

<div class="field">
	<%= f.label :party_size %><br />
	<%= f.number_field :party_size %>
</div>

<div class="actions">
      <%= f.submit %>
</div>

<% end %> 