<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name, placeholder: "write here" %>
</div>

<div class="field">
	<%= f.label :address %><br />
	<%= f.text_field :address, placeholder: "write here" %>
</div>

<div class="field">
	<%= f.label :neighbourhood %><br />
	<%= f.text_field :neighbourhood, placeholder: "write here" %>
</div>

<div class="field">
	<%= f.label :price_range %><br />
	<%= select_tag(options_for_select([['0', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]))%>
</div>


<div class="field">
	<%= f.label :summary %><br />
	<%= f.text_area :summary, placeholder: "write about your restaurant" %>
</div>

<div class="field">
	<%= f.label :open_time %><br />
	<%= f.time_select(:open_time, {:minute_step => 60, ampm: true}) %>
</div>

<div class="field">
	<%= f.label :close_time %><br />
	<%= f.time_select(:open_time, {:minute_step => 60, ampm: true}) %>
</div>

<div class="field">
	<%= f.label :capacity %><br />
	<%= f.number_field :capacity %>
</div>

<div class = "field">
    <%= f.label :image %><br />
    <%= f.text_field :image, placeholder: "insert image url" %>
</div>

 <div class="actions"><%= f.submit %></div>

<% end %>

