<h1>All Restaurants</h1>

<%= link_to "Create a new restaurant", new_restaurant_path %>

		<% @restaurants.each do |restaurant| %>

				<%= link_to restaurant.name, restaurant %>

				Neighbourhood: <%= restaurant.neighbourhood %>
				Address: <%= restaurant.address %> 
				Price range: <%= restaurant.price_range %> 
				Summary: <%= restaurant.summary %>
				Open time: <%= restaurant.open_time %>
				Close time: <%= restaurant.close_time %>
				Capacity: <%= restaurant.capacity %> 
			
				<%= link_to 'Edit', edit_product_path(product.id) %>
			
		<% end %>