<h1> <%= @restaurant.name %> <h1>


<%= image_tag(@restaurant.url, height: "100", width: "100") %>
<p> 
	Neighbourhood: <%= @restaurant.neighbourhood %>
	<br>
	Address: <%= @restaurant.address %> 
	<br>
	Price range: <%= @restaurant.price_range %> 
	<br>
	Summary: <%= @restaurant.summary %>
	<br>
	Open time: <%= @restaurant.open_time %>
	<br>
	Close time: <%= @restaurant.close_time %>
	<br>
	Capacity: <%= @restaurant.capacity %> 
</p>

	<% if current_user %>
		<%= link_to 'Make a reservation', new_restaurant_reservation_path(:restaurant_id) %>
	<% end %> 